body{
    margin: 0px;
    padding: 0px;
}
.nhap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    background-image: linear-gradient(to bottom,#0c8de4,rgba(216, 210, 210, 0.888));
    position: fixed;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
    transition: width 0.3s;
  }
  .nhap.active {
    width: 250px;
  }
.menu-icon {
  cursor: pointer;
  color: #fff;
  text-align: right;
  padding-bottom: 50px;
}
.navbar.active .menu-icon::before {
    content: '';
  }
  
  .nhap ul {
    list-style-type: none;
    padding: 0;
  }
  .nhap li {
    text-align: left;

  }
  .nhap li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  
  }
  .nhap li a i {
      margin-right: 20px;
      padding: auto;
  }
  .nhap a {
    display: block;
    padding: 10px 20px; 
    text-decoration: none;
    color: #fff; 
  }
  .nhap a:hover {
    background-color: #555;
    border-radius: 12px;
  }
  .tieude{
    text-align: center;
    text-shadow: 1.5px 3px 2px rgb(188, 222, 255);
    font-weight: bold;
    font-size: 39px;
    color: #531bd6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
.main{
    width: 84%;
    float: right;
    margin-right: 60px;
    margin-top: 24px;
}

.student{
    padding: 6px;
    margin: 36px 126px;
    width: 66%;
    
}
div.list{
    padding: 6px;
    margin: 36px;
    width: 90%;
    
}
.errol{
    color: red;
    padding: 36px;
    text-align: right;
 }
.student h2{
    padding: 6px;
    margin: 6px;
    text-align: center;

}
.student label{
    width: 200px;
    margin-left: 15px;
}
.student input[type="text"]{
    margin-bottom: 10px;
    width: 200px;
    padding: 3px;
}
#button{
    margin-left: 75%;
    margin-top: 36px;
}
#nut{
    margin-left: 72%;

}
button{
    margin-left: 12px;
    margin-bottom: 36px;
}
table,td{
    padding: 7.5px;
}

table {
    border: 2px solid gray;
}

td {
    border-left: #1a9dc1 1px solid;
    border-right: #1a9dc1 1px solid;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover{
    background-color: rgb(243, 235, 235);
}
th{
    text-align: center;
    background-color: #7fa9cc;
    color: white;
    padding: 4.5px;
}
input{
    margin-left: 42px;

}
#namsinh{
    margin-bottom: 9px;
}  
.none{
    width: 50%;
    height: auto;
}